<div class="video-animation absolute top-0 left-0 transform w-full h-[100vh] overflow-hidden origin-top ">
  <video
    src="/public/assets/videos/bg.mp4"
    autoplay
    loop
    muted
    class="w-full object-cover h-auto absolute -top-160 opacity-80"/>
</div>
