<div class="flex flex-col items-center justify-center z-1 w-full h-full gap-10">
  <h1 class="text-8xl max-w-1/2 item text-center font-light leading-20">
    <span class="logo">Notos</span> - The Holiest AI  <br>  Notes Sharing Platform
  </h1>
  <p class="text-2xl font-light">
    Because notes sharing is always the holiest cult!
  </p>
  <div
    class="py-2 px-4  min-w-1/2 flex flex-row justify-between rounded-[40px] shadow-[0px_4px_30px_#00000040] backdrop-blur-[2.5px] backdrop-brightness-[100%] [-webkit-backdrop-filter:blur(2.5px)_brightness(100%)] bg-[linear-gradient(136deg,rgba(255,255,255,0.09)_0%,rgba(253,253,253,0.05)_51%,rgba(255,255,255,0.09)_100%)] navbar-container border-[0.05px] border-secondary border-x-0 mt-22"
  >
    <input
      type="text"
      placeholder="Search for the holy subject/topic"
      class="decoration-0 border-0 flex-1 outline-none focus:outline-none focus:ring-0 focus:border-transparent text-2xl"
      id="search-input"
    />
    <a
      href="/"
      class="bg-primary px-5 py-1 text-2xl rounded-[40px] border-white border-[0.1px] text-white"
    >
      	🔎︎
    </a>
  </div>
</div>
