<div class="relative mt-8 w-3/4 h-[85px]">
  <div
    class="fixed w-[1140px] h-[85px] rounded-[40px]  shadow-[0px_4px_30px_#00000040] backdrop-blur-[2.5px] backdrop-brightness-[100%] [-webkit-backdrop-filter:blur(2.5px)_brightness(100%)] bg-[linear-gradient(136deg,rgba(255,255,255,0.09)_0%,rgba(253,253,253,0.05)_51%,rgba(255,255,255,0.09)_100%)] navbar-container"
  >
  <div class="w-full h-full flex flex-row justify-between items-center">
    <h2>Notos</h2>
  </div>
  </div>
</div>
<style>
    .navbar-container {
       color: white;
       
    }
</style>
