<div class="relative mt-8 w-4/5 h-fit z-1">
  <div
    class="p-3 rounded-[40px] shadow-[0px_4px_30px_#00000040] backdrop-blur-[2.5px] backdrop-brightness-[100%] [-webkit-backdrop-filter:blur(2.5px)_brightness(100%)] bg-[linear-gradient(136deg,rgba(255,255,255,0.09)_0%,rgba(253,253,253,0.05)_51%,rgba(255,255,255,0.09)_100%)] navbar-container px-10 border-[0.05px] border-secondary border-x-0"
  >
    <div class="w-full h-full flex flex-row justify-between items-center">
      <h2 class="text-4xl font-bold logo">Notos</h2>
      <div class="text-2xl navbar-items flex flex-row justify-between gap-x-30">
        <a href="/assignments">Assignments</a>
        <a href="/notes">Notes</a>
        <a href="/feed">Feed</a>
      </div>
      <a
        href="/explore"
        class="bg-primary rounded-4xl px-8 py-2 border-[0.2px] border-white text-2xl flex items-center justify-center"
      >
        Explore
      </a>
    </div>
  </div>
</div>

<style>
  .navbar-container {
    color: white;
  }
  .navbar-items {
    font-weight: 100;
  }
</style>
