---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import Navbar from "./navbar.astro";
import BackgroundAnimation from "./animation.astro";
import HeroSection from "./hero-section.astro";
import HowItWorks from "./howItWorks.astro";
import "@fontsource/jaini-purva";
---

<div
  class="container bg-black text-secondary flex flex-col items-center w-full h-full"
>
  <Navbar />
  <BackgroundAnimation />
  <HeroSection />
</div>
<div class="container bg-primary-strong">
  <HowItWorks />
</div>
<style>
  .container {
    padding: 0;
    margin: 0;
    color: #fff;
    
    font-family: "Jaini Purva", system-ui;
  }
</style>
