@import "tailwindcss";  

@theme {
    --color-primary : #7A1BFF;
    --color-primary-strong : #1d093a;
    --color-secondary : #FFFFFF;
}
.logo {
    font-family: "Inspiration";
    font-weight: 100;
  }