---
import "../styles/global.css"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Notos is a best notes sharing platform" />
    <title>Notos - best notes sharing platform</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
